html,
body {
  height: 100%;
  width: 100%;
  overflow: ;
  background: #121214;
  margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#canvas {
	position: relative;
}

.side-nav {
	background-color: #121214;
	border-right: 1px solid #101010;
}

.side-nav li a {
	color: #51D2B7;
}

.divider {
	background-color: #101010;
}

.profile {
	width: 100%;
	height: auto;
	border-radius: 100%;
	border: 5px solid #3D5347;
}

.myname {
	font-family: 'Pacifico', cursive;
	color: #101010;
}

.fa-bars {
	color: #51D2B7;
	font-size: 50px;
	padding: 5px;
}

#welcome {
	width: 100%;
	height: 100vh;
	display: flex;
	font-weight: 800;
	justify-content: center;
	text-align: center;
	color: #BBEBE1;
	position: relative;
}

#welcome h2 {
	position: absolute;
}

#welcome h4 {
	position: absolute;
	align-self: center;
}

#skills, #contact {
	width: 100%;
	height: 100vh;
	background-image: url(../img/wallpaper.png);
}

#about, #projects {
	width: 100%;
	height: 100vh;
	color: #BBEBE1;
	background-color: #51D2B7;
}

.display {
	width: 100%;
	height: 100vh;
}