html, body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

body {
  background: #e0e6eb;
}

svg {
  width: 100%;
  height: 100vh%;
}
svg g {
  mix-blend-mode: lighten;
}
svg polygon {
  stroke: none;
  fill: white;
}

body {
	font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.side-nav {
	background-color: #B487C3;
  opacity: 0.8;
}

.side-nav li a {
  color: #BBEBE1;
  font-size: 28px;
  font-weight: 800;
}

.divider {
	background-color: #AD99E6;
}

.profile {
	width: 100%;
	height: auto;
	border-radius: 100%;
}

.myname {
	font-family: 'Pacifico', cursive;
	color: #101010;
}

.fa-bars {
	color: #51D2B7;
	font-size: 50px;
	padding: 5px;
}

#welcome {
	width: 100%;
	height: 100vh;
	display: flex;
	font-weight: 800;
	justify-content: center;
	text-align: center;
	color: #fff;
	position: relative;
}

#welcome h1 {
  width: 550px;
  height: 550px;
	position: absolute;
  font-size: 4em;
  padding-top: 2em;
  font-weight: bolder;
  background-color: #51D2B7;
  align-self: center;
  opacity: 0.5;
  border-radius: 100%;
}

#welcome h2 {
  font-size: 3em;
  padding-top: 5em;
	position: absolute;
	align-self: center;
}

#skills, #contact {
	width: 100%;
	height: 100vh;
  color: #BBEBE1;
	background-color: #AD99E6;
}

#about, #projects {
	width: 100%;
	height: 100vh;
	color: #BBEBE1;
	background-color: #7DC3C8;
}

.display {
	width: 100%;
	height: 100vh;
}